/*************************
*******STYLE GLOBAL********
 ************************/

body {
  color: #292929;
}

html {
  scroll-behavior: smooth;
}

h2,
h3,
nav {
  font-family: "sniglet", serif;
}

.btn {
  background-color: #b24434;
}

.btn:hover {
  background-color: black;
}

.container-md {
  overflow: hidden;
}

.logocharlotte {
  width: 70px;
}

/***************
 fin style global 
 ****************/

/*******************
 **CSS par section** 
 *******************/

/***** Début du header *****/
header {
  position: relative;
}

/*media queries element header */
@media (min-width: 990px) {
  header::after {
    content: "";
    height: 40px;
    width: 40px;
    background-color: white;
    transform: rotate(45deg);
    top: 580px;
    left: calc(50% - 20px);
    position: absolute;
  }
}

nav {
  font-size: 18px;
}

header .nav-link {
  position: relative;
  text-transform: uppercase;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: #34a2b3;
  transition: transform 250ms;
}
.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* style animation header */

.headerDW {
  background-color: #fff; /* blanc*/
  color: #292929; /*couleur texte*/
  display: inline-block;
  font-size: 30px;
  /*margin: 8px;*/
  /*max-width: 315px;*/
  /*min-width: 230px;*/
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 500px;
}

.headerDW * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.headerDW:after {
  background-color: #297d8a;
  height: 150%;
  bottom: -145%;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.headerDW img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.302), rgba(0, 0, 0, 0.302));
}

.headerDW figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.headerDW h3 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}

.headerDW h3 span {
  display: block;
  font-weight: 700;
}

.headerDW a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerDW:hover > img,
.headerDW.hover > img {
  opacity: 0.1;
}

.headerDW:hover:after,
.headerDW.hover:after {
  bottom: 95%;
}

.headerDW:hover figcaption,
.headerDW.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/******* Fin du header ********/

/***** Début section presentation *****/

#presentation p {
  text-align: justify;
}

#presentation .titre1 {
  color: #297d8a;
}
#presentation .boutons .btn {
  margin-right: 50px;
}

/***** Fin section presentation *****/

/***** Début section diplomes *****/
#diplomes {
  background-color: #34a2b3;
}

#diplomes h3 {
  font-size: 20px;
}

/***** fin section diplomes *****/

/***** Début Ssection experiences *****/
#experiences article div {
  background-color: rgba(238, 238, 238, 0.508);
  border-radius: 20px;
}
#experiences .text {
  text-align: justify;
}
/***** fin section experiences *****/

/***** Début section competences *****/

#competences {
  background-image: linear-gradient(rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.302)),
    url(../img/ordiplan.jpg);
  background-position: left;
  background-size: cover;
}

#competences .cadre {
  background-color: rgba(225, 217, 217, 0.891);
}

#competences .langages ul li {
  background-color: #34a2b3;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
}

#competences .log ul li img {
  width: 100px;
  height: auto;
  padding: 2px 20px;
  margin: 10px;
}

#competences .softskills ul li {
  background-color: #34a2b3;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
}

.cadre {
  width: 600px;
}
/***** fin section competences *****/

/***** début section realisations *****/

#realisations .card img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#realisations .card:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/***** fin section realisations *****/

/***** Début section bandeau avant footer *****/
#bandeauFooter {
  background-color: #297d8a;
}

.fa-github-square:hover {
  color: black !important;
}

.fa-linkedin-in:hover {
  color: black !important;
}
/***** fin section du bandeau avant footer*****/

/******** Début footer *********/
footer {
  background-color: #34a2b3;
  display: inline-block;
}

footer img {
  font-size: 15px;
}

footer .logocharlotte {
  border: 2px solid white;
}
/******** Fin footer ********/

/****************
****CSS MOBILE****
 ****************/

@media (max-width: 990px) {
  #realisations div .a,
  .b {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  #presentation .boutons {
    flex-direction: column;
    margin-left: 50px;
  }
}
