/* Style global */

html {
  scroll-behavior: smooth;
}

h2,
h3,
nav {
  font-family: "sniglet", serif;
}

header .gauche {
  font-family: "sniglet", serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin-top: 100px;
  animation-duration: 3s;
  animation-name: glissement;
  animation-direction: normal;
}

header .droite {
  animation-duration: 3s;
  animation-name: glissement;
}

@keyframes glissement {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  0% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}

body {
  font-family: ;
}

.btn {
  background-color: cadetblue;
}

.container-md {
  overflow: hidden;
}

/* fin style global */

/* CSS par section */

/* Début du header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.302), rgba(0, 0, 0, 0.302)),
    url(../img/IMG_9554.jpg);
  background-position: left;
  background-size: cover;
  height: 400px;
  position: relative;
}

header::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: white;
  transform: rotate(45deg);
  top: 380px;
  left: calc(50% - 20px);
  position: absolute;
}

nav {
  font-size: 20px;
}

header hr {
  color: white;
}

a {
  position: relative;
  text-transform: uppercase;
}
a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 250ms;
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* Fin du header */

/* Début section presentation */

.photo {
  margin-bottom: 30px;
  margin-left: 40px;
}
/* Fin section presentation */

/* section competences */

#competences .langages ul li {
  background-color: cadetblue;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
}

#competences .log ul li {
  background-color: crimson;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
}

#competences .softskills ul li {
  background-color: cadetblue;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 10px;
}
/* fin section competences */

/* Section experiences */
#experiences article div {
  background-color: rgba(238, 238, 238, 0.508);
  border-radius: 20px;
}
/* fin section experiences */

/* section diplomes */
#diplomes {
  background-color: rgba(0, 128, 128, 0.666);
}

#diplomes h3 {
  font-size: 20px;
}

#experiences .text {
  text-align: justify;
}

/* fin section diplomes */

/* Début footer */
footer {
  background-color: cadetblue;
}

/* ANIMATION */
